@import url("https://fonts.googleapis.com/css2?family=Plaster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900");
@import url("https://fonts.googleapis.com/css?family=Abel");

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif, "Plaster", cursive, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-Blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --main-Green: #51d4a4;
  --main-Blue: #344559;
  --main-Bk: #229068;
  --card-default: #515859;
  --card-text: #a7a8ac;
}

/*NavBar Styling*/
/*NavBar Styling*/
/*NavBar Styling*/
.navbar {
  display: flex;
  background-color: var(--main-Blue);
  justify-content: space-around;
  align-items: flex-start;
  min-height: 13vh;
  /* box-shadow: -6px -4px 13px 0px black; */
  /* z-index: 30; */
  width: 100%;
}
.dropbtn {
  /* background-color: #4CAF50; */
  color: var(--card-text);
  margin: 1.5rem 0 0 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  transition: all 0.5s;
}
.arrow {
  width: 1rem;
}
#navbar-logo {
  text-decoration: none;
  color: var(--main-Bk);
  font-size: 5rem;
  height: 10rem;
  filter: drop-shadow(-0.2px -0.4px 0.2px black);
  text-shadow: 0.2px 0.2px 0.9px #97e0c5;
  margin: 1rem 0 0 2rem;
}
.navbar-bar {
  background-color: var(--main-Bk);
  height: 0.15vh;
  width: 50%;
  margin: 4.3rem 0;
}
.navbar-icons-box {
  margin: 0 1rem 0 0;
}

.navbar-icons {
  width: 2rem;
  margin: 3rem 2.5rem 0 0;
}

.dropdown {
  /* position: relative; */
  display: inline-block;
  overflow: hidden;
  height: 4.4vh;
  transition: all 1s;
  margin: 1.7rem 0 0 0;
}
.text {
  text-align: left;
}

.dropdown-content {
  display: block;
  width: fit-content;
  transition: all 1s;
}

.dropdown-content a {
  color: var(--card-text);
  padding: 4px 0px;
  text-decoration: none;
  display: block;
  transition: all 1s;
}
.dropdown:hover {
  height: auto;
  overflow: visible;
}

.dropdown-content a:hover {
  color: var(--main-Green);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--main-Bk);
}

/*NavBar Styling*/
/*NavBar Styling*/
/*NavBar Styling*/

/*Sign Up*/
/*Sign Up*/
/*Sign Up*/
.backOfSign {
  background-image: linear-gradient(#00000073, #00000073);
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  bottom: 0;
  z-index: 7;
}

.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-Green);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 0.5rem 3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 20vw;
}
.signUp-text {
  text-align: left;
  /* text-transform: uppercase; */
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.signUp-text-main {
  display: block;
  font-size: 2rem;
  font-weight: 900;
  color: #2c745a;
}
.signUp-text-sub {
  color: #fff;
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
}
.signUp-form * {
  margin: 0;
}
.signUp-form {
  display: flex;
  margin: 0 auto 0 auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 60%;
  width: 20rem;
  /* justify-content: space-around; */
}
.signUp-form h5 {
  text-align: left;
  width: 20rem;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}
.signUp-form > input {
  border: none;
  border-radius: 0.8rem;
  height: 30px;
  width: 20rem;
  height: 2.2rem;
  /* margin: 0 0 20px; */
}
.create-acc {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  display: inline-block;
  border-radius: 0.8rem;
  background-color: var(--main-Blue);
  height: 40px;
  border: none;
  margin: 2rem;
  height: 2.6rem;
}
.bar-line {
  position: absolute;
  width: 15rem;
  right: 20px;
  top: 13rem;
}
/*Sign Up*/
/*Sign Up*/
/*Sign Up*/

/*Footer*/
/*Footer*/
/*Footer*/

.footer {
  display: flex;
  background-color: var(--main-Green);
  background-image: url("/navBg.png");
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  box-shadow: 4px 5px 13px 0px black;
  z-index: 30;
  width: 100%;
  position: absolute;
  top: 100%;
  transform: translate(0, -100%);
  background-position: top;
}
/*Footer*/
/*Footer*/
/*Footer*/

/*Home*/
/*Home*/
/*Home*/
.homeBox {
  background-color: var(--main-Green);
  /* background-image: url("/navBg.png"); */
  height: 64vh;
  width: 100vw;
  /* transform: translateX(15vw); */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardPreviewBox {
  height: 36vh;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

.header_text-box {
  height: fit-content;
}
.heading-primary {
  color: var(--main-Blue);

  backface-visibility: hidden;
  margin-bottom: 0rem;
}
.heading-primary--main {
  display: block;
  font-size: 18rem;
  /* letter-spacing: 3rem; */
  font-family: "Plaster", cursive;
  text-transform: uppercase;
  height: 18rem;
  position: relative;
  filter: drop-shadow(2.2px 2.2px 0px #97eacc);
  text-shadow: -2px -2px 2px #151415;
}

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
}
.message {
  color: white;
  width: 31rem;
  font-size: 2.3rem;
  font-family: "Montserrat", sans-serif;
  margin: 6rem auto;
}

@media only screen and (max-width: 540px) {
  #depth.heading-primary--main {
    font-size: 8rem;
    height: 8rem;
    filter: drop-shadow(1.2px 1.2px 0px #97eacc) !important;
    text-shadow: -1px -1px 1px #151415 !important;
  }
  .heading-primary--sub {
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  .organizer {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .message {
    font-size: 1.5rem;
    width: 60%;
    margin: 1rem auto;
    text-align: left;
  }

  #btnlog {
    width: 10rem;
    font-size: 2rem;
  }
  #btnLog > p {
    margin: auto;
  }
  #btnsignup {
    font-size: 2rem;
  }
}
.btn-login {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
  font-size: 2.7rem;
  width: 12rem;
  font-weight: 700;
  display: inline-block;
  border-radius: 0.8rem;
  background-color: var(--main-Blue);
  height: fit-content;
  border: none;
}
.btn-login > p {
  margin: 0.5rem 0rem;
}
.btn-signup {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  margin: 0 2rem;
}
.organizer {
  display: flex;
}
.register-box {
  display: flex;
}
.login-box {
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
}
.form-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-box > input {
  margin: 0rem 0 2rem;
  border: none;
  height: 2.5rem;
  border-radius: 0.5rem;
}
.form-box > h4 {
  text-align: left;
  margin: 0rem 0 0;
  color: white;
}
/*Home*/
/*Home*/
/*Home*/

/* Card */
/* Card */
/* Card */

/* .innerCard {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 0px 3px black;
  transform: translateZ(50px);
}

.innerCard > .cardName {
  font-size: 6rem;
  font-weight: 500;
  margin: 0;
}
.innerCard > .cardTitle {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
} */
/* html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
} */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.card {
  position: relative;
  width: 350px;
  height: 220px;
  background-color: var(--card-default);

  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}
.cards {
  position: relative;
  width: 350px;
  height: 220px;
  background-color: var(--card-default);

  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;

  z-index: -1;
}
.card h1 {
  text-align: center;
}
.card .static {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#dE685E, #EE786E);
   */
  background-image: url("https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: right;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}
.card .hide {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#dE685E, #EE786E);
   */
  background-image: url("https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: right;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
  transform: translateX(-100%);
  animation-name: moveOnclick2;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.card .additional {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#dE685E, #EE786E); */
  background-image: url("https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: right;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
  animation-name: moveOnClick;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes moveOnClick {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveOnclick2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.card .switch-container {
  margin: 1rem 0rem;
  display: flex;
  /* padding: 0rem; */
  justify-content: flex-end;
  width: 95%;
}
.card .switcher {
  margin: 0 1rem;
}
.card .user-conections {
  color: white;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.card .title-organizer {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.heading-card--main {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  /* letter-spacing: 3.5rem; */
}
.heading-card--sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
}

.card .general {
  border: none;
  border-radius: 1rem;
  background-color: var(--card-default);
  border: 0.2rem solid;
  border-color: var(--card-text);
  height: 93%;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#under {
  margin: 0.5rem 0rem;
}
.general .at {
  margin: 0 24rem 0 0;
}
.bottom-container {
  position: absolute;
  bottom: 2%;
  width: 100%;
}
.user-craft,
.user-craft > a {
  text-decoration: none;
  color: white;
}
.user-craft {
  margin: auto 10rem auto 0;
}
.card .middle-container {
  display: flex;
}
.card .middle-left {
  width: 45%;
  display: flex;

  align-items: center;
  border-left: 1.5px solid var(--card-text);
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  height: 62.9%;
  text-align: left;
  color: white;
}
.card .middle-left > p {
  margin: 0 1rem 0;
}
.card .middle-center {
  width: 10%;
  display: flex;
  flex-wrap: wrap;
  border-left: 1.5px solid var(--card-text);
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translateY(-50%);
  height: 62.9%;

  align-items: flex-end;
}
.card .middle-center .box {
  height: 90%;
  margin: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card .middle-rigth {
  width: 32%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-left: 1.5px solid var(--card-text);
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translateY(-50%);
  height: 62.9%;
}

.card .middle-rigth .rating {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 0.5rem 0 0.5rem 1rem;
}
.card .middle-rigth .rating .level {
  margin: 0;
  color: white;
  font-weight: bolder;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translateX(-50%);
}
.card .header {
  transform: rotate(-90deg);
  font-weight: 300;
  color: var(--card-text);
  position: absolute;
  margin: 0 !important;
  position: absolute;
  left: -19%;
  top: 78%;
  font-weight: 500;
}
#about {
  left: -16%;
  top: 76%;
}

#aval {
  left: -94%;
  top: 70%;
}
#Green {
  color: limegreen;
}
#Orange {
  color: orange;
}
#Red {
  color: red;
}

/* Card */
/* Card */
/* Card */

/* Sign up GRID */

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding-right: 12px;
  padding-left: 12px;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */

  grid-gap: 50px;
  margin-top: 12px;
}

.grid-container h4 {
  padding-right: 10px;
  margin: 0;
}
.grid-container h6 {
  padding-left: 10px;
  /* margin: 0; */
}

.card-item {
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.grid-item1 {
  grid-area: 1 / 2;
  background-color: var(--main-Bk);
  text-align: left;
  padding-left: 20px;
}

.grid-item2 {
  grid-row-start: 1;
}

.grid-item3 {
  padding: 20px;
  grid-area: span 2 / 2;
  color: whitesmoke;
}

.grid-item4 {
  grid-area: 2 / auto;
}
.grid-item5 {
  background-color: var(--main-Bk);
}

@media only screen and (max-width: 500px) {
  .grid-item1 {
    grid-area: 1 / span 2;
  }
  .grid-item2 {
    grid-area: 2 / span 2;
  }
  .grid-item3 {
    grid-area: 3 / span 2;
  }
  .grid-item4 {
    grid-area: 4 / span 2;
  }
}

/* Profile Update */
/* Profile Update */
/* Profile Update */

.profile-update-container {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.profile-update-left {
  width: 50%;
  display: flex;
}

.card-container {
  margin: auto;
}

/* Form in this div */
.profile-update-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background-color: #229068;
  border-radius: 5px;
}

.profile-update-title {
  width: 100%;
  height: 10%;
  text-align: left;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-update-title > h2 {
  margin-left: 10%;
  margin-top: 10px;
  position: relative;
  font-size: 2rem;
}

.profile-update-right * {
  margin: 0;
  -webkit-appearance: none;
}

.form-container {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  display: space-around;
}

.form-container input {
  width: 50%;
}
.form-container textarea {
  width: 50%;
}

.form-container > form > div {
  display: flex;
}
.form-container > form > h3 {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 3px;
  color: rgba(225, 225, 225, 0.5);
}

.form-container > form > div > label {
  text-align: left;
  margin-top: 3px;
  margin-bottom: 3px;
}

.form-container > form > div > textarea,
input,
select {
  height: 2rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #f1f1f1;
  border-style: none;
}

.profile-update-skills {
  display: flex;
}

.profile-update-skills > div {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.profile-update-skills > div > input {
  width: 50%;
  height: 2rem;
  font-size: 1rem;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border: none;
  border-radius: 4px;
  height: 2rem;
  background-color: #f1f1f1;
}

.profile-update-skills > div > label {
  width: 100%;
  text-align: left;
  margin-bottom: 4px;
}

.profile-update-avalibility {
  height: 15%;
  display: flex;
  flex-wrap: wrap;
}

.profile-update-avalibility > div {
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.profile-update-avalibility > div > label {
  width: 100%;
  text-align: left;
  margin-bottom: 4px;
  margin-top: 4px;
}

.profile-update-avalibility > div > select {
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  height: 2rem;
  font-size: 1rem;
}

.profile-update-submit {
  display: flex;
  justify-content: end;
  height: 40px;
}

.profile-update-submit > button {
  position: relative;
  left: -10%;
  top: 40%;
  height: 70%;
  width: 20%;
  border-style: none;
  border-radius: 3px;
  background-color: var(--main-Blue);
  color: whitesmoke;
}
/* Profile Update */
/* Profile Update */
/* Profile Update */

/*projectpage*/
/*projectpage*/
/*projectpage*/
.p-page {
  background-color: var(--main-Bk);
  height: 86.3vh;
  width: 100vw;
  position: relative;
}
.project-img {
  background-color: var(--main-Blue);
  border-bottom-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  height: 13rem;
  width: 66%;
  /* box-shadow: 6px 3px 12px black; */
  position: absolute;
  top: -3rem;
}
.project-img-bk {
  width: 100%;
  height: 80%;
  background-image: url("/project.jpg");
  background-size: cover;
  background-position-y: center;
}
.master-list {
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.master-list .info-list {
  display: flex;
  font-weight: bolder;
  color: var(--main-Bk);
  font-size: small;
}
.master-list .info-list .info-list-text {
  margin: 0 0 0 0.5rem;
  color: white;
  font-weight: 300;
}
.list-box {
  height: 20%;
  display: flex;
  align-items: center;
}
.backofinfo {
  background-color: var(--main-Blue);
  border-radius: 0.7rem;
  width: fit-content;
}
.backofinfo .backofinfo-item {
  display: flex;
  align-items: center;

  margin: 1.5rem;
}
.backofinfo .backofinfo-item > img {
  width: 4rem;
}
.backofinfo .backofinfo-item > div {
  color: white;
  font-weight: bold;
  font-size: small;
  margin: 0 0 0 1rem;
}
#requirements {
  position: absolute;
  top: 15rem;
  left: 2rem;
}
.backofinfo .backofinfo-tagname {
  position: absolute;
  color: var(--main-Blue);
  font-size: large;
  font-weight: bold;
  top: -2.2rem;
  left: 1.05rem;
}
#backofinfo-info {
  position: absolute;
  top: 15rem;
  max-width: 35rem;
  left: 15rem;
}
#backofinfo-info > p {
  color: white;
  font-weight: 500;
  font-size: initial;
  margin: 1rem;
}
#backofinfo-info > div {
  position: absolute;
  color: var(--main-Blue);
  font-size: large;
  font-weight: bold;
  top: -2.2rem;
  left: 1.05rem;
}
.owner-card {
  position: absolute;
  top: 13.5rem;
  left: 52rem;
}
.owner-card .owner-card-tagname {
  position: absolute;
  color: var(--main-Blue);
  font-size: large;
  font-weight: bold;
  top: -0.8rem;
  left: 2.2rem;
}
#imgofproject {
  width: 25rem;
  height: 15rem;
  margin: 3rem 5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: large;
  font-weight: bold;
}
#imgofproject-box {
  position: absolute;
  right: 2rem;
  top: 5rem;
}
#imgofproject-tagname {
  position: absolute;
  color: var(--main-Blue);
  font-size: large;
  font-weight: bold;
  top: -0.4rem;
  left: 2.2rem;
}
/*projectpage*/
/*projectpage*/
/*projectpage*/
