@import url("https://fonts.googleapis.com/css2?family=Plaster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900");
@import url('https://fonts.googleapis.com/css?family=Abel');

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif, "Plaster", cursive, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-Blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --main-Green: #51d4a4;
  --main-Blue: #344559;
  --main-Bk: #229068;
}

/*NavBar Styling*/
/*NavBar Styling*/
/*NavBar Styling*/
.navbar {
  display: flex;
  background-color: var(--main-Green);
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  box-shadow: -6px -4px 13px 0px black;
  z-index: 30;
  width: 100%;
  background-image: url("/navBg.png");
  background-position: top;
}

.navbar > a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: all 0.5s;
  width: 8.5rem;
}

.navbar > a:hover {
  font-size: 2.2rem;
  color: var(--main-Blue);
}
/*NavBar Styling*/
/*NavBar Styling*/
/*NavBar Styling*/

/*Landing page*/
/*Landing page*/
/*Landing page*/
.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #eee;
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem 3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/*Landing page*/
/*Landing page*/
/*Landing page*/

/*Footer*/
/*Footer*/
/*Footer*/

.footer {
  display: flex;
  background-color: var(--main-Green);
  background-image: url("/navBg.png");
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  box-shadow: 4px 5px 13px 0px black;
  z-index: 30;
  width: 100%;
  position: absolute;
  top: 100%;
  transform: translate(0, -100%);
  background-position: top;
}
/*Footer*/
/*Footer*/
/*Footer*/

/*Home*/
/*Home*/
/*Home*/
.homeBox {
  background-color: var(--main-Green);
  /* background-image: url("/navBg.png"); */
  height: 64vh;
  width: 100vw;
  /* transform: translateX(15vw); */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardPreviewBox {
  height: 36vh;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

.header_text-box {
  height: fit-content;
}
.heading-primary {
  color: var(--main-Blue);

  backface-visibility: hidden;
  margin-bottom: 0rem;
}
.heading-primary--main {
  display: block;
  font-size: 18rem;
  /* letter-spacing: 3rem; */
  font-family: "Plaster", cursive;
  text-transform: uppercase;
  height: 18rem;
  position: relative;
  filter: drop-shadow(2.2px 2.2px 0px #97eacc);
  text-shadow: -2px -2px 2px #151415;
}

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
}
.message {
  color: white;
  width: 31rem;
  font-size: 2.3rem;
  font-family: "Montserrat", sans-serif;
  margin: 6rem auto;
}

@media only screen and (max-width: 540px) {
  #depth.heading-primary--main {
    font-size: 8rem;
    height: 8rem;
    filter: drop-shadow(1.2px 1.2px 0px #97eacc) !important;
    text-shadow: -1px -1px 1px #151415 !important;
  }
  .heading-primary--sub {
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  .organizer {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .message {
    font-size: 1.5rem;
    width: 60%;
    margin: 1rem auto;
  }
  .form-box > input {
    margin: 1rem !important;
  }
  #btnlog {
    width: 10rem;
    font-size: 2rem;
  }
  #btnLog > p {
    margin: auto;
  }
  #btnsignup {
    font-size: 2rem;
  }
}
.btn-login {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
  font-size: 2.7rem;
  width: 12rem;
  font-weight: 700;
  display: inline-block;
  border-radius: 0.8rem;
  background-color: var(--main-Blue);
  height: fit-content;
  border: none;
}
.btn-login > p {
  margin: 0.5rem 0rem;
}
.btn-signup {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  margin: 0 2rem;
}
.organizer {
  display: flex;
}
.register-box {
  display: flex;
}
.login-box {
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
}
.form-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-box > input {
  margin: 2rem 0;
  border: none;
  height: 2.5rem;
  border-radius: 0.5rem;
}
/*Home*/
/*Home*/
/*Home*/

/* Card */
/* Card */
/* Card */

.innerCard {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 0px 3px black;
  transform: translateZ(50px);
}

.innerCard > .cardName {
  font-size: 6rem;
  font-weight: 500;
  margin: 0;
}
.innerCard > .cardTitle {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
}
/* html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
} */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

 .card:target .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}



.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}



.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}



.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}



/* Card */
/* Card */
/* Card */
